html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.mw-75 {
    max-width: 75%;
}

.bg-zebra-circle {
    background-image: repeating-radial-gradient(circle, 
    rgba(248,249,250,1), rgba(248,249,250,1) 0.9vh, 
    rgba(255,255,255,0) 1vh, rgba(255,255,255,0) 1.9vh,
    rgba(248,249,250,1) 2vh);
    box-shadow: inset 0 15vh 10vh #F8F9FA;
    margin-top: -1px;
}

.bg-zebra {
    background-attachment: fixed;
    background-size: 150% 150%;
    background-image: repeating-linear-gradient(110deg,
    rgb(200, 215, 210), rgb(200, 215, 210) 0.9vh,
    rgb(180, 195, 190) 1vh, rgb(180, 195, 190) 1.9vh,
    rgb(200, 215, 210) 2vh);
}

.sticky-bottom {
    position: -webkit-sticky;
    position: sticky;
    bottom: 33vh;
    margin-top: -30vh;
    margin-bottom: -30vh;
}

.bubble {
    border-radius: 50%;
    padding: 1.5vh;
}

.diagonal-text-list {
    height: 33%; 
    overflow: hidden;
}

.diagonal-text-list > * {
    transform: rotate(-70deg);
    width: 7vh;
    color: #E8E8E8;
    font-size: 6vh;
    white-space: nowrap;
}

.title-hybrid {
    font-size: 4vh;
    font-weight: bold;
}

.subtitle-hybrid {
    font-size: 2vh;
    font-weight: normal;
}

.hover-bottom-right {
    position: absolute;
    bottom: 5vh;
    right: 5vh;
}

.rotate-180 {
    transform: rotate(180deg);
}

.rotate-90 {
    transform: rotate(90deg);
}

.home-menu :nth-child(even) {
    margin-top: 12vh;
}
.home-menu :nth-child(odd) {
    margin-top: -12vh;
}
.home-menu > a {
    width: 40vh;
    height: 40vh;
    margin: 2vh;
    transition: transform 0.2s, margin 0.2s, z-index 0.2s;
}
.home-menu > a:not(:hover) {
    z-index: 0;
    margin-right: -10vh !important;
    transform: rotate(90deg);
}
.home-menu > a:hover {
    z-index: 1;
    transform: translateY(-2vh) rotate(90deg);
}

.menu-card {
    position: relative;
    width: 100%;
    height: 100%;
    font-size: 7vh;
    margin: 3vh;
    padding: 3vh 3vh 1vh 3vh;
    border: solid medium lightgreen;
    border-radius: 2vh;
}

@media (orientation: portrait) {
    .portrait-flex-column {
        flex-direction: column;
    }

    .home-menu {
        margin-left: -3vh;
    }

    .home-menu :nth-child(even) {
        margin-top: 0vh;
        margin-left: 12vh;
    }
    .home-menu :nth-child(odd) {
        margin-top: 0vh;
    }
    .home-menu > a:not(:hover) {
        z-index: 0;
        margin-right: 0vh !important;
        margin-bottom: -10vh !important;
        transform: rotate(90deg);
    }
    .home-menu > a:hover {
        z-index: 1;
        transform: translateY(-2vh) rotate(90deg);
    }
}