html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.mw-75 {
    max-width: 75%;
}

.bg-zebra-circle {
    background-image: repeating-radial-gradient(circle, 
    rgba(248,249,250,1), rgba(248,249,250,1) 0.4vh, 
    rgba(255,255,255,0) 0.5vh, rgba(255,255,255,0) 0.9vh,
    rgba(248,249,250,1) 1vh);
    box-shadow: inset 0 3em 30px #F8F9FA;
}

.bg-zebra {
    background-attachment: fixed;
    background-size: 150% 150%;
    background-image: repeating-linear-gradient(110deg,
    rgb(200, 215, 210), rgb(200, 215, 210) 0.4vh,
    rgb(190, 205, 200) 0.5vh, rgb(190, 205, 200) 0.9vh,
    rgb(200, 215, 210) 1vh);
}

.sticky-bottom {
    position: -webkit-sticky;
    position: sticky;
    bottom: 15vh;
    margin-top: -30vh;
    margin-bottom: -30vh;
}

.bubble {
    border-radius: 50%;
    padding: 2vh;
}

.diagonal-text-list {
    height: 25%;    
    overflow: hidden;
}

.diagonal-text-list > * {
    transform: rotate(-70deg);
    width: 7vh;
    color: #E8E8E8;
    font-size: 6vh;
    white-space: nowrap;
}

.title-hybrid {
    font-size: 4vh;
    font-weight: bold;
}

.subtitle-hybrid {
    font-size: 2vh;
    font-weight: normal;
}

@media (orientation: portrait) {

}