/*
html {
    min-height: 100vh;
}
*/

html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.mw-75 {
    max-width: 75%;
}

.bg-zebra-circle {
    background-image: repeating-radial-gradient(circle, 
    rgba(248,249,250,1), rgba(248,249,250,1) 0.9vh, 
    rgba(255,255,255,0) 1vh, rgba(255,255,255,0) 1.9vh,
    rgba(248,249,250,1) 2vh);
    box-shadow: inset 0 15vh 10vh #F8F9FA;
    margin-top: -1px;
}

.bg-zebra {
    background-attachment: fixed;
    background-size: 150% 150%;
    background-image: repeating-linear-gradient(110deg,
    rgb(210, 225, 220), rgb(210, 225, 220) 0.9vh,
    rgb(200, 215, 210) 1vh, rgb(200, 215, 210) 1.9vh,
    rgb(210, 225, 220) 2vh);
}

.bg-zebra-light {
    background-attachment: fixed;
    background-size: 150% 150%;
    background-image: repeating-linear-gradient(110deg,
    rgb(235, 245, 240), rgb(235, 245, 240) 0.9vh,
    rgb(220, 235, 230) 1vh, rgb(220, 235, 230) 1.9vh,
    rgb(235, 245, 240) 2vh);
}

.sticky-bottom {
    position: -webkit-sticky;
    position: sticky;
    bottom: 33vh;
    margin-top: -30vh;
    margin-bottom: -30vh;
}

.bubble {
    border-radius: 50%;
    padding: 1.5vh;
}

.diagonal-text-list {
    height: 33%; 
    overflow: hidden;
}

.diagonal-text-list > * {
    transform: rotate(-70deg);
    width: 7vh;
    color: #E8E8E8;
    font-size: 6vh;
    white-space: nowrap;
}

.text-orange {
    color: orange;
}

.xh1 {
    font-size: 4vh;
}

.xh2 {
    font-size: 3.5vh;
}

.xh3 {
    font-size: 3vh;
}

.xp {
    font-size: 2.5vh;
}

.hover-bottom-right {
    position: absolute;
    z-index: 5;
    bottom: 5vh;
    right: 5vh;
}

.hover-top-left {
    position: absolute;
    z-index: 5;
    top: 5vh;
    left: 5vh;
}

.rotate-180 {
    transform: rotate(180deg);
}

.rotate-90 {
    transform: rotate(90deg);
}

.about {
    margin: 4vh;
    transition: height 0.5s, margin 0.5s;
}

.bg-home-menu {
    background-image: repeating-linear-gradient(
        rgb(231, 141, 231) 0.2vh,
        white 0.4vh, 
        white 1.2vh,
        rgb(137, 207, 235) 1.4vh,
        white 1.6vh, 
        white 2.4vh,
        rgb(137, 207, 235) 2.6vh, 
        white 2.8vh,
        white 3.6vh,
        rgb(137, 207, 235) 3.8vh, 
        white 4.0vh,
        white 4.8vh,
        rgb(231, 141, 231) 5.0vh
    );
}

.bg-home-menu-detail {
    background-color: rgb(204, 205, 207);
}

.home-menu {
    padding: 6vh 2vh 0 2vh;
    overflow-y: hidden;
}

.home-menu-wrapper {
    overflow: hidden;
    transition: height 0.5s;
}

.wrapper-closed {
    height: 0 !important;
}
.wrapper-closed>div.about {
    height: 0 !important;
    margin: 0;
}

.home-menu-item-wrapper {
    width: 0;
    overflow: visible;
    transform: rotate(5deg);
}

.home-menu-item {
    height: 14vh;
    width: fit-content;
    margin-bottom: -2vh;
    font-size: 5vh;
    padding: 1.5vh;
    padding-top: 3.5vh;
    border-radius: 2vh 2vh 0 0;
    transition: height 0.2s;
}
.home-menu-item:hover {
    height: 26vh;
}

.z-back {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
}

.z-front {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

.thumb {
    object-fit: cover;
    object-position: left;
}

.fadein {
    background-image: linear-gradient( to right,
            white,
            white 30%,
            transparent
        );
}

.opacity-25 {
    opacity: 0.25;
}

.description {
    max-width: 50vh;
}

.highlight {
    text-shadow: 
        white 0 0 40px, 
        white 0 0 35px, 
        white 0 0 30px, 
        white 0 0 25px,
        white 0 0 40px, 
        white 0 0 35px, 
        white 0 0 30px, 
        white 0 0 25px;
}

@media (orientation: portrait) {
    .bg-zebra-light {
        background-attachment: scroll;
    }

    .portrait-flex-column {
        flex-direction: column;
    }

    .home-menu-wrapper {
        justify-content: space-around !important;
        overflow-y: hidden;
    }

    .home-menu {
        padding: 0;
        padding-bottom: 4vh;
        overflow-x: hidden;
    }
    
    .home-menu-item-wrapper {
        width: fit-content;
    }
    .home-menu-item-wrapper:nth-child(2n) {
        align-self: flex-end;
    }
    .home-menu-item-wrapper:nth-child(2n+1) {
        align-self: flex-start;
    }

    .home-menu-item {
        margin: 2vh 0 2vh 0;
    }
    .home-menu-item-wrapper:nth-child(2n)>.home-menu-item{
        border-radius: 2vh 0 0 2vh;
    }
    .home-menu-item-wrapper:nth-child(2n+1)>.home-menu-item{
        border-radius: 0 2vh 2vh 0;
    }
    .home-menu-item:hover {
        height: 14vh;
    }
    
    .thumb {
        object-position: top;
    }

    .fadein {
        background-image: linear-gradient( to bottom,
            white,
            transparent
        );
    }
}