<body class="bg-zebra">
    <div class="bg-light d-flex flex-column w-100 h-100 justify-content-center align-items-center">
        <h1 class="text-primary text-center">{{ title }}</h1>
        <h3 class="text-secondary text-center pl-5">{{ name }}</h3>
    </div>
    <div class="w-100 h-25 bg-zebra-circle d-flex justify-content-center align-items-center">
        <div class="bubble bg-light shadow-lg sticky-bottom">
            <svg height="32" width="32">
                <line x1="0" y1="8" x2="17" y2="25" style="stroke:#888888;stroke-width:4" />
                <line x1="15" y1="25" x2="32" y2="8" style="stroke:#888888;stroke-width:4" />
            </svg>
        </div>
    </div>
    <div class="w-100 h-100"></div>
</body>