<div class="bg-zebra">
    <a id="top"></a>
    <div class="w-100 h-75 bg-light d-flex flex-column justify-content-between align-items-center">
        <div class="w-100 d-flex align-items-end justify-content-around diagonal-text-list">
            <h2>Welcome</h2><h2>Welcome</h2>
            <h2>Welcome</h2><h2>Welcome</h2>
            <h2>Welcome</h2><h2>Welcome</h2>
            <h2>Welcome</h2><h2>Welcome</h2>
            <h2>Welcome</h2><h2>Welcome</h2>
            <h2>Welcome</h2><h2>Welcome</h2>
            <h2>Bienvenue</h2><h2>Willkommen</h2>
            <h2>ようこそ</h2><h2>欢迎光临</h2>
            <h2>добро пожаловать</h2><h2>&#8713&#8706&#8629&#8855&#8711&#8773</h2>
            <h2>Welcome</h2><h2>Welcome</h2>
            <h2>Welcome</h2><h2>Welcome</h2>
            <h2>Welcome</h2><h2>Welcome</h2>
            <h2>Welcome</h2><h2>Welcome</h2>
            <h2>Welcome</h2><h2>Welcome</h2>
            <h2>Welcome</h2><h2>Welcome</h2>
            
        </div>
        <div class="mw-75 mb-5">
            <h1 class="title-hybrid text-primary text-center">{{ title }}</h1>
            <h3 class="subtitle-hybrid text-secondary text-center ml-5 pl-5 bl-5">{{ name }}</h3>
        </div>
        <div class="w-100"></div>
    </div>
    <div class="w-100 h-25 bg-zebra-circle d-flex justify-content-center align-items-center">
        <a href="#summary" class="bubble bg-white shadow">
            <svg height="32" width="32">
                <line x1="0" y1="8" x2="17" y2="25" style="stroke:#888888;stroke-width:4" />
                <line x1="15" y1="25" x2="32" y2="8" style="stroke:#888888;stroke-width:4" />
            </svg>
        </a>
    </div>
</div>